data
extraction.ipynb
logs
model_save_path
research_paper_dataset.csv
citation_model.keras
tokenizer.pkl
Improving_GAN-Generated_Image_Detection_Generalization_Using_Unsupervised_Domain_Adaptation.pdf